{% extends "base.html.j2" %}

{% block content %}
<p>La predicción es: {{ prediccion }}</p>
<form method="get" action="/feedback">
    <input type="text" name="texto_feebdack">
    <input type="text" value="{{ pred_id }}" name="ident" hidden>
    <input type="submit" value="Enviar">
</form>
{% endblock content%}
